<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.huawei.hms.rn.account.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:name="com.huawei.hms.rn.account.demo.MainApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="RNHmsAccountDemo"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">


        <activity
                android:name="com.huawei.hms.rn.account.demo.MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:label="RNHmsAccountDemo"
                android:launchMode="singleTask"
                android:exported="true"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>