<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.rn.scan">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--camera permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--read permission for Bitmap Mode-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--write permission for save QRCODE Bitmap,not for scankit itself-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name="com.huawei.hms.rn.scan.customized.CustomizedViewActivity" android:exported="false"/>
        <activity android:name="com.huawei.hms.rn.scan.multi.MultiProcessorActivity" android:screenOrientation="portrait" />
    </application>
</manifest>
