<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.huawei.hms.rn.ml.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:name="com.huawei.hms.rn.ml.demo.MainApplication"
            android:allowBackup="false"
            android:icon="@mipmap/logo"
            android:label="RN ML Demo"
            android:roundIcon="@mipmap/logo"
            android:theme="@style/AppTheme"
            android:largeHeap="true"
            android:requestLegacyExternalStorage="true">


        <activity
                android:name="com.huawei.hms.rn.ml.demo.MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:label="RN ML Demo"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
