<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.huawei.hms.rn.health">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service android:name="com.huawei.hms.rn.health.kits.activityrecords.util.ActivityRecordBackgroundService" />


        <!-- To Listen Data Register Events DataRegisterReceiver is initialized here. -->
        <receiver
                android:name="com.huawei.hms.rn.health.kits.datacontroller.receiver.DataRegisterReceiver"
                android:enabled="true"
                android:exported="true" />
        <!-- To Listen Activity Record Events ActivityRecordsMonitorReceiver is initialized here. -->
        <receiver
                android:name="com.huawei.hms.rn.health.kits.activityrecords.receiver.ActivityRecordsMonitorReceiver"
                android:enabled="true"
                android:exported="true" />

        <service 
                android:name="com.huawei.hms.rn.health.kits.autorecorder.utils.AutoRecorderBackgroundService"
                android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="HealthKitService" />
            </intent-filter>
        </service>
    </application>
</manifest>
