<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.rn.dtm">

    <application>
        <provider
            android:name=".HmsDTMProvider"
            android:authorities="${applicationId}.hmsAnalyticsProvider"
            android:exported="false" />
    </application>
</manifest>
